<div class="home_container">
  <app-card
    gameCover="assets/RdR2.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 249,99"
  >
  </app-card>

  <app-card
    gameCover="assets/spyder.png"
    gameLabel="DELUXE EDITION"
    gameType="EXCLUSIVE | PS5"
    gamePrice="R$ 299,99"
  >
  </app-card>
  <app-card
    gameCover="assets/GTA(1).png"
    gameLabel="PREMIUM EDITION"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 289,99"
  >
  </app-card>
  <app-card
    gameCover="assets/Fifa23(1).jpg"
    gameLabel="ULTIMATE EDITION"
    gameType="DIGITAL| PS4 PS5"
    gamePrice="R$ 179,99"
  >
  </app-card>
  <app-card
    gameCover="assets/TLoU2(1).png"
    gameLabel="PREMIUM EDITION"
    gameType="EXCLUSIVE| PS5"
    gamePrice="R$ 299,99"
  >
  </app-card>
  <app-card
    gameCover="assets/MSE.png"
    gameLabel="DIGITAL"
    gameType="DIGITAL| PS4 PS5"
    gamePrice="R$ 199,49"
  >
  </app-card>
</div>
