<div class="menu-bar__container">
    <div class="menu-bar__logo">
       <img src="../../../assets/ps-logo.png"
       alt="logo da playstation store"
       width="140px"
       height="34px"
       >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://facebook.com/djfernandslima">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/josias-fernandes-de-lima-732903283/">Linkedin</a></li>
            <li><a href="https://github.com/Josias-Fernandes">GitHub</a></li>
        </ul>

    </div>
</div>
